# Seattle and Boston Airbnb Data

"Airbnb (ABNB) is an online marketplace that connects people who want to rent out their homes with people who are looking for accommodations in specific locales.

The company has come a long way since 2007, when its co-founders first came up with the idea to invite paying guests to sleep on an air mattress in their living room. According to Airbnb's latest data, it has in excess of six million listings, covering more than 100,000 cities and towns and 220-plus countries worldwide." 

Information gathered from:
https://www.investopedia.com/articles/personal-finance/032814/pros-and-cons-using-airbnb.asp

The datasets that are going to be analyzed in this project are the Seattle and Boston Airbnb Data. These datasets have information about the reviews, the scores and calendar information that include prices.

<br> There are somme suggested questions for both datasets that are:</br>

<br>1) Can you describe the vibe of each city neighborhood using listing descriptions?</br>
<br>2) What are the busiest times of the year to visit each city? By how much do prices spike?</br>
<br>3) Is there a general upward trend of both new Airbnb listings and total Airbnb visitors to each city?</br>
<br>4) Which city has the best Airbnb ratings?</br>
<br>5) Is the review related to the price?</br>
<br>6) Which are the best rated hosts?</br>

### A Look at the Data

In order to get a better understanding of the data we will be looking at throughout this lesson, let's take a look at some of the characteristics of the dataset.

First, let's read in the data and necessary libraries.

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython import display

#Contiene información de los 
Seattle_calendar = pd.read_csv('./Seattle/calendar.csv')
Seattle_listings= pd.read_csv('./Seattle/listings.csv')
Seattle_reviews= pd.read_csv('./Seattle/reviews.csv')

Boston_calendar = pd.read_csv('./Boston/calendar.csv')
Boston_listings= pd.read_csv('./Boston/listings.csv')
Boston_reviews= pd.read_csv('./Boston/reviews.csv')

**1.** Number of rows and columns.

In [7]:
print ("Seattle Calendar:" + str(Seattle_calendar.shape))
print ("Seattle listings:" + str(Seattle_listings.shape))
print ("Boston reviews:" + str(Boston_reviews.shape))
print ("Boston Calendar:" + str(Boston_calendar.shape))
print ("Boston listings:" + str(Boston_listings.shape))
print ("Boston reviews:" + str(Boston_reviews.shape))

Seattle Calendar:(1393570, 4)
Seattle listings:(3818, 92)
Boston reviews:(68275, 6)
Boston Calendar:(1308890, 4)
Boston listings:(3585, 95)
Boston reviews:(68275, 6)

**2.** Which columns had no missing values? Provide a set of column names that have no missing values.

In [11]:
print ("Seattle Calendar:" + str(Seattle_calendar.info()))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1393570 entries, 0 to 1393569
Data columns (total 4 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   listing_id  1393570 non-null  int64
 1   date        1393570 non-null  object
 2   available   1393570 non-null  object
 3   price       934542 non-null   object
dtypes: int64(1), object(3)
memory usage: 42.5+ MB
Seattle Calendar:None

In [14]:
Seattle_calendar.price.isna().sum()/len(Seattle_calendar)

0.32938998399793334

In [32]:
Seattle_calendar.head()

   listing_id        date available   price
0      241032  2016-01-04         t  $85.00
1      241032  2016-01-05         t  $85.00
2      241032  2016-01-06         f     NaN
3      241032  2016-01-07         f     NaN
4      241032  2016-01-08         f     NaN

33.94% of the Seattle price values are null. It is important to see the relevance of this proportion in order to see how they are going to be treated.

In [33]:
Seattle_listings.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,241032,https://www.airbnb.com/rooms/241032,20160104002432,2016-01-04,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,none,NaN,...,10.0,f,NaN,WASHINGTON,f,moderate,f,f,2,4.07
1,953595,https://www.airbnb.com/rooms/953595,20160104002432,2016-01-04,Bright & Airy Queen Anne Apartment,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,none,"Queen Anne is a wonderful, truly functional vi...",...,10.0,f,NaN,WASHINGTON,f,strict,t,t,6,1.48
2,3308979,https://www.airbnb.com/rooms/3308979,20160104002432,2016-01-04,New Modern House-Amazing water view,New modern house built in 2013. Spectacular s...,"Our house is modern, light and fresh with a wa...",New modern house built in 2013. Spectacular s...,none,Upper Queen Anne is a charming neighborhood fu...,...,10.0,f,NaN,WASHINGTON,f,strict,f,f,2,1.15
3,7421966,https://www.airbnb.com/rooms/7421966,20160104002432,2016-01-04,Queen Anne Chateau,A charming apartment that sits atop Queen Anne...,NaN,A charming apartment that sits atop Queen Anne...,none,NaN,...,NaN,f,NaN,WASHINGTON,f,flexible,f,f,1,NaN
4,278830,https://www.airbnb.com/rooms/278830,20160104002432,2016-01-04,Charming craftsman 3 bdm house,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,none,We are in the beautiful neighborhood of Queen ...,...,9.0,f,NaN,WASHINGTON,f,strict,f,f,1,0.89

In [15]:
print ("Seattle listings:" + str(Seattle_listings.info()))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 92 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                3818 non-null   int64
 1   listing_url                       3818 non-null   object
 2   scrape_id                         3818 non-null   int64
 3   last_scraped                      3818 non-null   object
 4   name                              3818 non-null   object
 5   summary                           3641 non-null   object
 6   space                             3249 non-null   object
 7   description                       3818 non-null   object
 8   experiences_offered               3818 non-null   object
 9   neighborhood_overview             2786 non-null   object
 10  notes                             2212 non-null   object
 11  transit                           2884 non-null   object
 12  thumbnail_url                     3498 non-null   object
 13  medium_url                        3498 non-null   object
 14  picture_url                       3818 non-null   object
 15  xl_picture_url                    3498 non-null   object
 16  host_id                           3818 non-null   int64
 17  host_url                          3818 non-null   object
 18  host_name                         3816 non-null   object
 19  host_since                        3816 non-null   object
 20  host_location                     3810 non-null   object
 21  host_about                        2959 non-null   object
 22  host_response_time                3295 non-null   object
 23  host_response_rate                3295 non-null   object
 24  host_acceptance_rate              3045 non-null   object
 25  host_is_superhost                 3816 non-null   object
 26  host_thumbnail_url                3816 non-null   object
 27  host_picture_url                  3816 non-null   object
 28  host_neighbourhood                3518 non-null   object
 29  host_listings_count               3816 non-null   float64
 30  host_total_listings_count         3816 non-null   float64
 31  host_verifications                3818 non-null   object
 32  host_has_profile_pic              3816 non-null   object
 33  host_identity_verified            3816 non-null   object
 34  street                            3818 non-null   object
 35  neighbourhood                     3402 non-null   object
 36  neighbourhood_cleansed            3818 non-null   object
 37  neighbourhood_group_cleansed      3818 non-null   object
 38  city                              3818 non-null   object
 39  state                             3818 non-null   object
 40  zipcode                           3811 non-null   object
 41  market                            3818 non-null   object
 42  smart_location                    3818 non-null   object
 43  country_code                      3818 non-null   object
 44  country                           3818 non-null   object
 45  latitude                          3818 non-null   float64
 46  longitude                         3818 non-null   float64
 47  is_location_exact                 3818 non-null   object
 48  property_type                     3817 non-null   object
 49  room_type                         3818 non-null   object
 50  accommodates                      3818 non-null   int64
 51  bathrooms                         3802 non-null   float64
 52  bedrooms                          3812 non-null   float64
 53  beds                              3817 non-null   float64
 54  bed_type                          3818 non-null   object
 55  amenities                         3818 non-null   object
 56  square_feet                       97 non-null     float64
 57  price                             3818 non-null   object
 58  weekly_price                      2009 non-null   object
 59  monthly_price                     1517 non-null   object
 60  security_deposit                  1866 non-null   object
 61  cleaning_fee                      2788 non-null   object
 62  guests_included                   3818 non-null   int64
 63  extra_people                      3818 non-null   object
 64  minimum_nights                    3818 non-null   int64
 65  maximum_nights                    3818 non-null   int64
 66  calendar_updated                  3818 non-null   object
 67  has_availability                  3818 non-null   object
 68  availability_30                   3818 non-null   int64
 69  availability_60                   3818 non-null   int64
 70  availability_90                   3818 non-null   int64
 71  availability_365                  3818 non-null   int64
 72  calendar_last_scraped             3818 non-null   object
 73  number_of_reviews                 3818 non-null   int64
 74  first_review                      3191 non-null   object
 75  last_review                       3191 non-null   object
 76  review_scores_rating              3171 non-null   float64
 77  review_scores_accuracy            3160 non-null   float64
 78  review_scores_cleanliness         3165 non-null   float64
 79  review_scores_checkin             3160 non-null   float64
 80  review_scores_communication       3167 non-null   float64
 81  review_scores_location            3163 non-null   float64
 82  review_scores_value               3162 non-null   float64
 83  requires_license                  3818 non-null   object
 84  license                           0 non-null      float64
 85  jurisdiction_names                3818 non-null   object
 86  instant_bookable                  3818 non-null   object
 87  cancellation_policy               3818 non-null   object
 88  require_guest_profile_picture     3818 non-null   object
 89  require_guest_phone_verification  3818 non-null   object
 90  calculated_host_listings_count    3818 non-null   int64
 91  reviews_per_month                 3191 non-null   float64
dtypes: float64(17), int64(13), object(62)
memory usage: 2.7+ MB
Seattle listings:None

In [30]:
most_missing_cols = []
for i in Seattle_listings.columns:
    if Seattle_listings[i].isnull().sum()/len(Seattle_listings[i])>0.75:
        most_missing_cols.append(i)

In [31]:
most_missing_cols

['square_feet', 'license']

The columns that have more than 75% of missing values are square_feet and license. Therefore, those columns are going to be deleted. 

On the other hand, the columns with URLs, scrape ID,Last_scrapped  does not give important information to the analysis I will develop. Therefore this will be dalated.

Price, weekly price, monthly price, security deposit, cleaning fee,  has the wrong datatype.

In [35]:
Seattle_reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,7202016,38917982,2015-07-19,28943674,Bianca,Cute and cozy place. Perfect location to every...
1,7202016,39087409,2015-07-20,32440555,Frank,Kelly has a great room in a very central locat...
2,7202016,39820030,2015-07-26,37722850,Ian,"Very spacious apartment, and in a great neighb..."
3,7202016,40813543,2015-08-02,33671805,George,Close to Seattle Center and all it has to offe...
4,7202016,41986501,2015-08-10,34959538,Ming,Kelly was a great host and very accommodating ...

In [36]:
print ("Seattle reviews:" + str(Seattle_reviews.info()))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84849 entries, 0 to 84848
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   listing_id     84849 non-null  int64
 1   id             84849 non-null  int64
 2   date           84849 non-null  object
 3   reviewer_id    84849 non-null  int64
 4   reviewer_name  84849 non-null  object
 5   comments       84831 non-null  object
dtypes: int64(3), object(3)
memory usage: 3.9+ MB
Seattle reviews:None

In [41]:
Seattle_reviews.comments.isna().sum()/len(Seattle_reviews)*100

0.021214156914047308

The date type needs to be changed because it appears as an object

In [42]:
Boston_calendar.head()

   listing_id        date available price
0    12147973  2017-09-05         f   NaN
1    12147973  2017-09-04         f   NaN
2    12147973  2017-09-03         f   NaN
3    12147973  2017-09-02         f   NaN
4    12147973  2017-09-01         f   NaN

In [43]:
print ("Boston Calendar:" + str(Boston_calendar.info()))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1308890 entries, 0 to 1308889
Data columns (total 4 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   listing_id  1308890 non-null  int64
 1   date        1308890 non-null  object
 2   available   1308890 non-null  object
 3   price       643037 non-null   object
dtypes: int64(1), object(3)
memory usage: 39.9+ MB
Boston Calendar:None

In [46]:
Boston_calendar.price.isna().sum()/len(Boston_calendar)*100

50.87157820748879

50% of the prices are null. on the other hand, the date has an incorrect type.

In [47]:
Boston_listings.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,NaN,f,NaN,NaN,f,moderate,f,f,1,NaN
1,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,9.0,f,NaN,NaN,t,moderate,f,f,1,1.30
2,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",none,The LOCATION: Roslindale is a safe and diverse...,...,10.0,f,NaN,NaN,f,moderate,t,f,1,0.47
3,1436513,https://www.airbnb.com/rooms/1436513,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,none,Roslindale is a lovely little neighborhood loc...,...,10.0,f,NaN,NaN,f,moderate,f,f,1,1.00
4,7651065,https://www.airbnb.com/rooms/7651065,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",none,"I love the proximity to downtown, the neighbor...",...,10.0,f,NaN,NaN,f,flexible,f,f,1,2.25

In [48]:
print ("Boston listings:" + str(Boston_listings.info()))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3585 entries, 0 to 3584
Data columns (total 95 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                3585 non-null   int64
 1   listing_url                       3585 non-null   object
 2   scrape_id                         3585 non-null   int64
 3   last_scraped                      3585 non-null   object
 4   name                              3585 non-null   object
 5   summary                           3442 non-null   object
 6   space                             2528 non-null   object
 7   description                       3585 non-null   object
 8   experiences_offered               3585 non-null   object
 9   neighborhood_overview             2170 non-null   object
 10  notes                             1610 non-null   object
 11  transit                           2295 non-null   object
 12  access                            2096 non-null   object
 13  interaction                       2031 non-null   object
 14  house_rules                       2393 non-null   object
 15  thumbnail_url                     2986 non-null   object
 16  medium_url                        2986 non-null   object
 17  picture_url                       3585 non-null   object
 18  xl_picture_url                    2986 non-null   object
 19  host_id                           3585 non-null   int64
 20  host_url                          3585 non-null   object
 21  host_name                         3585 non-null   object
 22  host_since                        3585 non-null   object
 23  host_location                     3574 non-null   object
 24  host_about                        2276 non-null   object
 25  host_response_time                3114 non-null   object
 26  host_response_rate                3114 non-null   object
 27  host_acceptance_rate              3114 non-null   object
 28  host_is_superhost                 3585 non-null   object
 29  host_thumbnail_url                3585 non-null   object
 30  host_picture_url                  3585 non-null   object
 31  host_neighbourhood                3246 non-null   object
 32  host_listings_count               3585 non-null   int64
 33  host_total_listings_count         3585 non-null   int64
 34  host_verifications                3585 non-null   object
 35  host_has_profile_pic              3585 non-null   object
 36  host_identity_verified            3585 non-null   object
 37  street                            3585 non-null   object
 38  neighbourhood                     3042 non-null   object
 39  neighbourhood_cleansed            3585 non-null   object
 40  neighbourhood_group_cleansed      0 non-null      float64
 41  city                              3583 non-null   object
 42  state                             3585 non-null   object
 43  zipcode                           3547 non-null   object
 44  market                            3571 non-null   object
 45  smart_location                    3585 non-null   object
 46  country_code                      3585 non-null   object
 47  country                           3585 non-null   object
 48  latitude                          3585 non-null   float64
 49  longitude                         3585 non-null   float64
 50  is_location_exact                 3585 non-null   object
 51  property_type                     3582 non-null   object
 52  room_type                         3585 non-null   object
 53  accommodates                      3585 non-null   int64
 54  bathrooms                         3571 non-null   float64
 55  bedrooms                          3575 non-null   float64
 56  beds                              3576 non-null   float64
 57  bed_type                          3585 non-null   object
 58  amenities                         3585 non-null   object
 59  square_feet                       56 non-null     float64
 60  price                             3585 non-null   object
 61  weekly_price                      892 non-null    object
 62  monthly_price                     888 non-null    object
 63  security_deposit                  1342 non-null   object
 64  cleaning_fee                      2478 non-null   object
 65  guests_included                   3585 non-null   int64
 66  extra_people                      3585 non-null   object
 67  minimum_nights                    3585 non-null   int64
 68  maximum_nights                    3585 non-null   int64
 69  calendar_updated                  3585 non-null   object
 70  has_availability                  0 non-null      float64
 71  availability_30                   3585 non-null   int64
 72  availability_60                   3585 non-null   int64
 73  availability_90                   3585 non-null   int64
 74  availability_365                  3585 non-null   int64
 75  calendar_last_scraped             3585 non-null   object
 76  number_of_reviews                 3585 non-null   int64
 77  first_review                      2829 non-null   object
 78  last_review                       2829 non-null   object
 79  review_scores_rating              2772 non-null   float64
 80  review_scores_accuracy            2762 non-null   float64
 81  review_scores_cleanliness         2767 non-null   float64
 82  review_scores_checkin             2765 non-null   float64
 83  review_scores_communication       2767 non-null   float64
 84  review_scores_location            2763 non-null   float64
 85  review_scores_value               2764 non-null   float64
 86  requires_license                  3585 non-null   object
 87  license                           0 non-null      float64
 88  jurisdiction_names                0 non-null      float64
 89  instant_bookable                  3585 non-null   object
 90  cancellation_policy               3585 non-null   object
 91  require_guest_profile_picture     3585 non-null   object
 92  require_guest_phone_verification  3585 non-null   object
 93  calculated_host_listings_count    3585 non-null   int64
 94  reviews_per_month                 2829 non-null   float64
dtypes: float64(18), int64(15), object(62)
memory usage: 2.6+ MB
Boston listings:None

In [54]:
most_missing_colsB = []
for i in Boston_listings.columns:
    if Boston_listings[i].isnull().sum()/len(Boston_listings[i])>0.75:
        most_missing_colsB.append(i)

In [55]:
most_missing_colsB

['neighbourhood_group_cleansed',
 'square_feet',
 'weekly_price',
 'monthly_price',
 'has_availability',
 'license',
 'jurisdiction_names']

The columns with most null values are: 'neighbourhood_group_cleansed','square_feet','weekly_price','monthly_price', 'has_availability', 'license',
 'jurisdiction_names'. It is important to see if they will be delated or treated. For example if null values are set as 0 and the final number of columns should be the same as the Seattle_listing data.
 
 On the other hand, the columns with URLs, scrape ID,Last_scrapped  does not give important information to the analysis I will develop. Therefore this will be dalated.

Price, weekly price, monthly price, security deposit, cleaning fee,  has the wrong datatype.

In [56]:
Boston_reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,1178162,4724140,2013-05-21,4298113,Olivier,My stay at islam's place was really cool! Good...
1,1178162,4869189,2013-05-29,6452964,Charlotte,Great location for both airport and city - gre...
2,1178162,5003196,2013-06-06,6449554,Sebastian,We really enjoyed our stay at Islams house. Fr...
3,1178162,5150351,2013-06-15,2215611,Marine,The room was nice and clean and so were the co...
4,1178162,5171140,2013-06-16,6848427,Andrew,Great location. Just 5 mins walk from the Airp...

In [57]:
print ("Boston reviews:" + str(Boston_reviews.info()))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68275 entries, 0 to 68274
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   listing_id     68275 non-null  int64
 1   id             68275 non-null  int64
 2   date           68275 non-null  object
 3   reviewer_id    68275 non-null  int64
 4   reviewer_name  68275 non-null  object
 5   comments       68222 non-null  object
dtypes: int64(3), object(3)
memory usage: 3.1+ MB
Boston reviews:None

**3.** Describe de information of each dataset.

## General Findigs
<br><b>Seattle price</b></br>
<br> * 33.94% of the Seattle price values are null.</br>
<br> * The date in Seattle price is type object and not date. The data type need to be changed. Something similar occurs with price which type is object. This data type needs to be changed.</br>
<br><b>Seattle listings</b></br>
<br> * The columns that have more than 75% of missing values in seattle listings are square_feet and license. Therefore, those columns are going to be deleted.</br>
<br> * On the other hand, the listink URL does not give important information to the analysis I will develop. Therefore this will be delated.</br>
<br> * Price, weekly price, monthly price, security deposit, cleaning fee,  has the wrong datatype.</br>
<br><b>Seattle reviews</b></br>
<br> * The date type needs to be changed because it appears as an object.</br>
<br><b>Boston calendar</b></br>
<br> * 50% of the prices are null. on the other hand, the date has an incorrect type.</br>
<br><b>Boston listings</b></br>
<br> * The columns with most null values are: 'neighbourhood_group_cleansed','square_feet','weekly_price','monthly_price', 'has_availability', 'license',
 'jurisdiction_names'. It is important to see if they will be delated or treated. For example if null values are set as 0 and the final number of columns should be the same as the Seattle_listing data.</br>
<br> * On the other hand, the listink URL does not give important information to the analysis I will develop. Therefore this will be delated.</br>
<br> * Price, weekly price, monthly price, security deposit, cleaning fee,  has the wrong datatype.</br>
<br><b>Boston reviews</b></br>
<br> * The date type needs to be changed because it appears as an object.</br>
<br><b>General</b></br>
<br> * There should be one dataset for each dimension and one for the facts regardless the city</br>
<br> * There should be one dataset for each dimension and one for the facts regardless the city</br>